---
http_interactions:
- request:
    method: get
    uri: http://m.baidu.com/appsrv?abi=armeabi-v7a&action=detail&apn=&cct=qivtkjuhVfjgRS8I68v3kYuteug_MHaGq8BgklutVujTM-8OA&cen=cuid_cut_cua_uid&cll=_a2BNgaOv8_VOei00u28NguGviLVSS3RB&country=US&crid=1473676762976&docid=9723881&f=onlinegame@1@2@source%2BEDITOR@boardid%2B20113@pos%2B2@flow%2BBOARD@trans%2BNULL@mode%2BNULL@bid%2B1@oriboardid%2B20113@oripos%2B2@exp%2Bfull_flow@sample%2Badv@package%2Bcom.sy37.yhjyj.baidu@searchid%2B3761264578996139958@terminal_type%2Bclient&from=1000561u&gms=true&is_support_webp=true&language=en&location=qivtkjuhVfjgRS8I68v3kYuteug_MHaGq8BgklutVujTM-8OA&native_api=1&network=WF&operator=460021&pkname=com.baidu.appsearch&platform_version_id=15&province=qiB_k0ihetgCRSf66iSTkjO_eug_MS8LqPSpkluJeflfMBioA&psize=2&ptl=hp&pu=cua@_PvjhYa6vhIDJEjPkJAiC_hX2Ng-I28KAr8RB,osname@baiduappsearch,ctv@1,cfrom@100027l,cuid@X7RYzAZ_2FyXT1fX8FRUjIdQNQ8GDfAlXzWLoMATXIz6IQ5GxgjF9EF423K_SvjSRLfl5m3kq,cut@0ks9RgaU2iyvaXiDzuL08gNXxokk5FqJjU6dB&rqt=rty&uid=X7RYzAZ_2FyXT1fX8FRUjIdQNQ8GDfAlXzWLoMATXI_w90bi9jJVM0Ga7wsO-13PrejIX&usertype=0&ver=16790412
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Traceid:
      - '1473958125026936321008752206408231151605'
    body:
      encoding: ASCII-8BIT
      string: '{"error_no":0,"message":"","result":{"data":{"base_info":{"download_inner":"http:\/\/gdown.baidu.com\/data\/wisegame\/f7b23b428e0c593c\/liebaoliulanqi_412002.apk","versioncode":"412002","lang":"\u4e2d\u6587","packageid":"1117957","signmd5":"2123757465","today_download_pid":"85496","dev_display":{"dev_id":"652597755","dev_name":"\u5317\u4eac\u730e\u8c79\u79fb\u52a8\u79d1\u6280\u6709\u9650\u516c\u53f8","dev_score":"0","dev_level":"0","f":"develop_1117957_9723881"},"security_display":"[{\"engine\":\"\u5b89\u5168\u7ba1\u5bb6\",
        \"security_level\":\"\u5b89\u5168\", \"packageid\":\"342973629\", \"smallicon\":\"http:\\\/\\\/wap.baidu.com\\\/static\\\/as\\\/images\\\/jpg\\\/icon-safe-guanjia.jpg\"},
        {\"engine\":\"\u767e\u5ea6\u624b\u673a\u536b\u58eb\", \"security_level\":\"\u5b89\u5168\",
        \"packageid\":\"347030028\", \"smallicon\":\"http:\\\/\\\/wap.baidu.com\\\/static\\\/as\\\/images\\\/jpg\\\/icon-safe-baidu.jpg\"}]","security":"0","cateid":"501","brief":"\u3010\u4f53\u79ef\u3011\u4e1a\u754c\u6700\u5c0f\uff0c\u4ec5\u67094M<br>\u3010\u5f71\u89c6\u3011\u544a\u522b\u89c6\u9891\u5ba2\u6237\u7aef\uff0c\u730e\u8c79\u770b\u5267\u65b0\u53c8\u5168<br>\u3010\u7701\u6d41\u91cf\u3011\u62e6\u622a\u5e7f\u544a\u3001\u667a\u80fd\u52a0\u8f7d\uff0c\u66f4\u770130%<br>\u3010\u5b89\u5168\u3011\u62d2\u7edd\u5e7f\u544a\u3001\u544a\u522b\u4e2d\u6bd2\uff0c\u591a\u91cd\u4fdd\u62a4\uff0c\u7f51\u8d2d\u8212\u5fc3\u3001\u4f7f\u7528\u5b89\u5fc3<br>\u3010\u65b0\u95fb\u3011\u4e00\u624b\u8d44\u8baf\u3001\u6df1\u5ea6\u9605\u8bfb\uff0c\u7528\u730e\u8c79\u77e5\u5929\u4e0b<br>\u3010\u5feb\u3011\u4e0a\u7f51\u5feb\u3001\u4e0d\u5361\u987f\u3001\u5185\u5b58\u8d85\u4f4e\u5360\u7528","size":"4.7M","today_strDownload":"8\u4e07","groupid":"3881858","platform_version":"4.0","sourcename":"\u5f00\u653e\u5e73\u53f0","fee_display":"","aladdin_flag":"1","package":"com.ijinshan.browser_fast","docid":"9723881","versionname":"4.12.2","manual_brief":"\u89c6\u9891\u79bb\u7ebf\u4e0b\u8f7d0\u6d41\u91cf\u770b\u7247\uff1b\u5feb\u64ad\u3001\u767e\u5ea6\u5f71\u97f3\u5f71\u9662\u5927\u7247\u514d\u8d39\u770b\uff1b","platform_version_id":"14","changelog":"1.
        \u9996\u9875\u66f4\u597d\u770b\uff0c\u5bab\u683c\u66f4\u597d\u75282. \u65b0\u589e\u5c0f\u8bf4\u5165\u53e3\uff0c\u7cbe\u5f69\u66f4\u4e0d\u505c","catename":"\u7cfb\u7edf\u5de5\u5177","strDownload":"5272\u4e07","all_download_pid":"5272\u4e07\u4e0b\u8f7d","iconhdpi":"http:\/\/g.hiphotos.bdimg.com\/wisegame\/pic\/item\/0359252dd42a28345a3f786153b5c9ea15cebf3b.jpg","type":"soft","md5":"d5ff3835f7b23b428e0c593c990afb6a","icon":"http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b150_150&imgtype=3&quality=100&er&sec=0&di=32fa4b486ef8f5f6d43547762ea02fa9&ref=http%3A%2F%2Fh.hiphotos.bdimg.com&src=http%3A%2F%2Fh.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F3aee3d6d55fbb2fbb41abaf9494a20a44623dc2d.jpg","sname":"\u730e\u8c79\u6d4f\u89c8\u5668","manual_short_brief":"","updatetime":"2016-07-28","download_url":"http:\/\/gdown.baidu.com\/data\/wisegame\/f7b23b428e0c593c\/liebaoliulanqi_412002.apk","ad_display":"[{\"engine\":\"\u91d1\u5c71\u624b\u673a\u6bd2\u9738\",\"adinfo\":[{\"adtype\":[\"\u5185\u5d4c\u5e7f\u544a\u6761\",\"\u79ef\u5206\u5899\u5e7f\u544a\"],\"adaction\":[],\"addescription\":[\"\u8be5\u7c7b\u578b\u5e7f\u544a\u5c06\u4f1a\u5728\u5e94\u7528\u754c\u9762\u4e0a\u663e\u793a\u5e7f\u544a\u6761\",\"\u8be5\u7c7b\u578b\u5e7f\u544a\u5c06\u4f1a\u5728\u5e94\u7528\u4e2d\u5c55\u793a\u63a8\u5e7f\u5e94\u7528\u5217\u8868\"]}]}]","support_chip":"0","rotate":"1","gov_whitelist":"1","comment_tag_display":"[]","templet":"1","online_flag":"0","display_download":"52727655","popu_index":"92","yesterday_download_pid":"106620","tag_concept_rp":"{\"\u6d4f\u89c8\u5668\":
        100, \"\u6d4f\u89c8\": 89, \"\u6d41\u91cf\": 72, \"\u79bb\u7ebf\": 71}","mtc_status":"1","lifeservice":"","video_videourl":"","video_playcount":"","video_image":"","inner_info":"","video_orientation":"","video_duration":"","video_source":"","video_id":"","video_title":"","coupon":"","video_packageid":"","screenshots":["http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b240_360&imgtype=0&quality=100&er&sec=0&di=a4b87948a19e4767a876823df4a26118&ref=http%3A%2F%2Fh.hiphotos.bdimg.com&src=http%3A%2F%2Fh.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F1e1ed21b0ef41bd54251a19e59da81cb39db3d5e.jpg","http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b240_360&imgtype=0&quality=100&er&sec=0&di=35c1b0dcf411e29bc8632cfdb99a8c9a&ref=http%3A%2F%2Fh.hiphotos.bdimg.com&src=http%3A%2F%2Fh.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F0f81800a19d8bc3e768f4fa08a8ba61ea9d345d1.jpg","http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b240_360&imgtype=0&quality=100&er&sec=0&di=8f4a51a066bd2316802acbf1b72db7bb&ref=http%3A%2F%2Fd.hiphotos.bdimg.com&src=http%3A%2F%2Fd.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F603b5bb5c9ea15ce4577ae63be003af33a87b23b.jpg","http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b240_360&imgtype=0&quality=100&er&sec=0&di=43bbeb1fed436efd897416c70fc24174&ref=http%3A%2F%2Ff.hiphotos.bdimg.com&src=http%3A%2F%2Ff.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F32da81cb39dbb6fda759ac4c0124ab18972b375e.jpg","http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b240_360&imgtype=0&quality=100&er&sec=0&di=46e5df56efa1af171eb217b605172593&ref=http%3A%2F%2Ff.hiphotos.bdimg.com&src=http%3A%2F%2Ff.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2Faaea15ce36d3d539c3a441a93287e950352ab03b.jpg"],"overtime":"180","topic":[{"tid":"1205","title":"\u5145\u6ee1\u8bf1\u60d1\u7684\u6df1\u591c\u798f\u5229","description":"\u957f\u591c\u6f2b\u6f2b\u65e0\u5fc3\u7761\u7720\uff0c\u600e\u4e48\u529e\uff1f\u62ff\u51fa\u624b\u673a\uff0c\u611f\u53d7\u8fd9\u4efd\u8138\u7ea2\u5fc3\u8df3\u5427\u3002\u8bf7\u5173\u6ce8\u5c0f\u7f16\u5fae\u4fe1\u516c\u53f7\uff1a\u9648\u6d45\u6d45\u3002","img":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/3ac79f3df8dcd1004dd908a0758b4710b8122fee.jpg","imglow":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/35a85edf8db1cb139a21cc92da54564e93584be3.jpg","imgbig":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/5882b2b7d0a20cf494840e5e71094b36acaf991f.jpg"}],"app_moreversion":[{"version":"4.18.1","content":[{"packageid":"1117957","groupid":"4013595","docid":"9961843","sname":"\u730e\u8c79\u6d4f\u89c8\u5668","size":"5612006","updatetime":"2016-09-13","versioncode":"418001","sourcename":"\u5f00\u653e\u5e73\u53f0","type":"soft","all_download_pid":"48157731","strDownload":"5272\u4e07","display_score":"78","all_download":"1000\u4e07+\u4e0b\u8f7d","f":"c3"}],"versioncode":"418001"},{"version":"4.17.2","content":[{"packageid":"1117957","groupid":"3972238","docid":"9896990","sname":"\u730e\u8c79\u6d4f\u89c8\u5668","size":"5653626","updatetime":"2016-09-05","versioncode":"417002","sourcename":"\u5f00\u653e\u5e73\u53f0","type":"soft","all_download_pid":"48157731","strDownload":"5272\u4e07","display_score":"78","all_download":"1000\u4e07+\u4e0b\u8f7d","f":"c3"}],"versioncode":"417002"},{"version":"4.16.1","content":[{[...]
