---
http_interactions:
- request:
    method: get
    uri: http://m.baidu.com/appsrv?abi=armeabi-v7a&action=risingrank&apn=&bannert=26@27@28@29@30@31@32@43&cct=qivtkjuhVfjgRS8I68v3kYuteug_MHaGq8BgklutVujTM-8OA&cen=cuid_cut_cua_uid&cll=_a2BNgaOv8gyueiy0u28NguGvisVA&country=US&cpver=1&crid=1473853123417&from=1000561u&gms=true&is_support_webp=true&language=en&native_api=1&network=WF&operator=460021&pkname=com.baidu.appsearch&platform_version_id=15&pn=0&province=qiB_k0ihetgCRSf66iSTkjO_eug_MS8LqPSpkluJeflfMBioA&psize=2&ptl=hp&pu=cua@_PvjhYa6vhIDJEjPkJAiC_hX2Ng-I28KAYLiB,osname@baiduappsearch,ctv@1,cfrom@100027l,cuid@guvC80PH280kiSuujivpi_afHu_-aSf608SPugaYHi6suviJla-Di_ueBi_Ku2iJguv98TJBB,cut@0ks9RgaU2iyvaXiDzuL08gNXxokk5FqJjDBBB&rqt=rty&uid=guvC80PH280kiSuujivpi_afHu_-aSf608SPugaYHiqBuSivYu2U8juC2i_javiTQS2jC&usertype=0&ver=16790412
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Traceid:
      - '1473854424065504257010285802319214352132'
    body:
      encoding: ASCII-8BIT
      string: '{"error_no":0,"message":"","result":{"data":[{"datatype":347,"itemdata":{"title":"\u98d9\u5347\u699c","title_img":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/18d8bc3eb13533faa55c25a2add3fd1f40345b57.jpg","bgcolor":"#ff6152","img":"","date":"09\u670814\u65e5\u66f4\u65b0"}},{"datatype":348,"itemdata":{"sname":"\u7231\u94b1\u8fdb","packageid":"1180309","aladdin_flag":"1","docid":"9840402","type":"soft","versionname":"4.8.4","versioncode":"4840","cateid":"510","catename":"\u7406\u8d22\u8d2d\u7269","size":"15.5M","download_url":"http:\/\/gdown.baidu.com\/data\/wisegame\/5550e598c9d6a512\/aiqianjin_4840.apk","updatetime":"2016-08-25","icon":"http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b150_150&imgtype=3&quality=80&er&sec=0&di=910a93a6dd745d499232866ba41ae99d&ref=http%3A%2F%2Ff.hiphotos.bdimg.com&src=http%3A%2F%2Ff.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F4b34349b033b5bb5fc5cad2531d3d539b700bc66.jpg","download_inner":"http:\/\/gdown.baidu.com\/data\/wisegame\/5550e598c9d6a512\/aiqianjin_4840.apk","signmd5":"2148583214","package":"com.iqianjin.client","score":"76","score_count":"858","all_download":"443\u4e07\u4e0b\u8f7d","platform_version":"4.0","popu_index":"85","manual_short_brief":"\u5b89\u5168\u9ad8\u6536\u76ca\uff0c\u4f60\u7684\u8d34\u5fc3\u7406\u8d22\u7ba1\u5bb6","today_strDownload":"3276\u65e5\u4e0b\u8f7d","yesterday_download_pid":"2332","display_download":"4432914","support_chip":"0","f":"topquick@1@1@source+MBUADC@boardid+2166@pos+1@flow+BOARD@trans+0mZyq5f002Ljd62xjfn0bWm00n3m00aqcT1NNke0KwcM-6aN09c0000007ta000wFs0000t0HsDKK0n006jiZf7va0000fjmrq-g0f0000D0000@go_personal+0@mode+CPD@bid+13970@oriboardid+2166@oripos+1@exp+full_flow@sample+adv@package+com.iqianjin.client@searchid+414364528315998653@terminal_type+client","tj":"soft_9840402_1180309_\u7231\u94b1\u8fdb","manual_brief":"\u5b89\u5168\u9ad8\u6536\u76ca\uff0c\u4f60\u7684\u8d34\u5fc3\u7406\u8d22\u7ba1\u5bb6","brief":"\u666e\u60e0\u91d1\u878d\u96c6\u56e2\u65d7\u4e0b\u77e5\u540d\u7406\u8d22\u54c1\u724c\uff0c\u7f51\u8d37\u4e4b\u5bb6\u884c\u4e1a\u6392\u540d\u524d10\uff0c\u56fd\u5bb6AAA\u7ea7\u4fe1\u7528\u4f01\u4e1a\uff0c\u66f4\u9760\u8c31\u7684\u4e92\u8054\u7f51\u91d1\u878d\u5e73\u53f0\uff0c\u8fc4\u4eca100%\u5982\u7ea6\u5151\u4ed8\u3002\u70ed\u64ad\u5267\u300a\u8001\u4e5d\u95e8\u300b\u4e92\u8054\u7f51\u91d1\u878d\u884c\u4e1a\u7279\u7ea6\u5408\u4f5c\u4f19\u4f34\uff0c\u7231\u5947\u827a\u81ea\u5236\u7efc\u827a\u30[...]
