---
http_interactions:
- request:
    method: get
    uri: http://m.baidu.com/appsrv?abi=armeabi-v7a&action=ranktoplist&apn=&bannert=26@27@28@29@30@31@32@43&cct=qivtkjuhVfjgRS8I68v3kYuteug_MHaGq8BgklutVujTM-8OA&cen=cuid_cut_cua_uid&cll=_a2BNgaOv8gyueiy0u28NguGvisVA&country=US&cpver=1&crid=1473853123417&from=1000561u&gms=true&is_support_webp=true&language=en&native_api=1&network=WF&operator=460021&pkname=com.baidu.appsearch&platform_version_id=15&pn=0&province=qiB_k0ihetgCRSf66iSTkjO_eug_MS8LqPSpkluJeflfMBioA&psize=2&ptl=hp&pu=cua@_PvjhYa6vhIDJEjPkJAiC_hX2Ng-I28KAYLiB,osname@baiduappsearch,ctv@1,cfrom@100027l,cuid@guvC80PH280kiSuujivpi_afHu_-aSf608SPugaYHi6suviJla-Di_ueBi_Ku2iJguv98TJBB,cut@0ks9RgaU2iyvaXiDzuL08gNXxokk5FqJjDBBB&rqt=rty&uid=guvC80PH280kiSuujivpi_afHu_-aSf608SPugaYHiqBuSivYu2U8juC2i_javiTQS2jC&usertype=0&ver=16790412
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Traceid:
      - '1473854425062148813810896358609275362679'
    body:
      encoding: ASCII-8BIT
      string: '{"error_no":0,"message":"","result":{"data":[{"datatype":345,"itemdata":{"title":"\u98ce\u4e91\u699c","title_img":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/cb8065380cd79123028c71f2a8345982b3b780cc.jpg","bgcolor":"#ff6152","img":"","date":"09\u670814\u65e5\u66f4\u65b0","entries":[{"name":"\u8f6f\u4ef6\u699c","title":"\u8f6f\u4ef6\u699c","pagetype":16,"dataurl":"appsrv?native_api=1&action=ranklist&name=soft&board_id=board_101_139","icon":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/91ef76c6a7efce1b8d148521aa51f3deb48f6519.jpg","f":"ranktoplist@1@1"},{"name":"\u6e38\u620f\u699c","title":"\u6e38\u620f\u699c","pagetype":16,"dataurl":"","icon":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/b64543a98226cffc9d3ff259bc014a90f703eac0.jpg","tablist":[{"name":"\u7cbe\u54c1\u699c","url":"appsrv?native_api=1&action=ranklist&name=game&board_id=board_102_139","f":"ranktoplist@1@2@1"},{"name":"\u5355\u673a\u699c","url":"appsrv?native_api=1&action=ranklist&name=game&board_id=board_102_736","f":"ranktoplist@1@2@2"},{"name":"\u7f51\u6e38\u699c","url":"appsrv?native_api=1&action=ranklist&name=game&board_id=board_102_735","f":"ranktoplist@1@2@3"},{"name":"\u65b0\u6e38\u699c","url":"appsrv?native_api=1&action=ranklist&name=game&board_id=board_102_737","f":"ranktoplist@1@2@4"}]}],"app_data":[{"sname":"\u7403\u7403\u5927\u4f5c\u6218","packageid":"1476983","aladdin_flag":"0","docid":"9560122","type":"game","versionname":"4.0.2","versioncode":"107","cateid":"401","catename":"\u4f11\u95f2\u76ca\u667a","size":"47M","download_url":"http:\/\/mobile.d.appchina.com\/McDonald\/d\/3724949\/cop.baidu_0\/com.ztgame.bob.apk","updatetime":"2016-06-22","icon":"http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b150_150&imgtype=3&quality=80&er&sec=0&di=4f6c94c677205247e382891fe0d44164&ref=http%3A%2F%2Fg.hiphotos.bdimg.com&src=http%3A%2F%2Fg.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F58c79f3df8dcd100f42cc110758b4710b9122f4a.jpg","download_inner":"http:\/\/gdown.baidu.com\/data\/wisegame\/4e8ab81667bdd635\/qiuqiudazuozhan_107.apk","signmd5":"122889036","package":"com.ztgame.bob","score":"75","score_count":"16405","all_download":"5699\u4e07\u4e0b\u8f7d","platform_version":"2.3","popu_index":"95","manual_short_brief":"\u300a\u7403\u7403\u5927\u4f5c\u6218\u300b(Battle
        of Balls)\u662f\u5168\u7403\u6700\u53d7\u6b22\u8fce\u7684\u4f11\u95f2\u7ade\u6280\u624b\u6e38\u5927\u4f5c\uff0c\u4ebf\u4e07\u73a9\u5bb6\u7684\u5171\u540c\u9009\u62e9\uff01\u8fd9\u662f\u4e00\u6b3e\u8d85\u597d\u73a9\uff0c\u8d85\u840c\u9177\uff0c\u8d85\u6709\u6311\u6218","today_strDownload":"9\u4e07\u65e5\u4e0b\u8f7d","yesterday_download_pid":"277638","display_download":"56997057","support_chip":"0","f":"ranktoplist@1@1@source+NATURAL@boardid+24824@pos+1@searchid+270980659377292881@terminal_type+client@spec+0@sample+adv","tj":"game_9560122_1476983_\u7403\u7403\u5927\u4f5c\u6218","manual_brief":"","brief":"\u300a\u7403\u7403\u5927\u4f5c\u6218\u300b(Battle
        of Balls)\u662f\u5168\u7403\u6700\u53d7\u6b22\u8fce\u7684\u4f11\u95f2\u7ade\u6280\u624b\u6e38\u5927\u4f5c\uff0c\u4ebf\u4e07\u73a9\u5bb6\u7684\u5171\u540c\u9009\u62e9\uff01\u8fd9\u662f\u4e00\u6b3e\u8d85\u597d\u73a9\uff0c\u8d85\u840c\u9177\uff0c\u8d85\u6709\u6311\u6218\u6027\uff0c\u53ef\u4e0e\u5168\u7403\u73a9\u5bb6\u5b9e\u65f6\u5bf9\u6218\u7684\u4f11\u95f2\u7ade\u6280\u6e38\u620f\u3002\u5728\u8fd9\u4e2a\u7403\u7403\u7684\u4e16\u754c\u91cc[...]
