---
http_interactions:
- request:
    method: get
    uri: http://m.baidu.com/as?abi=armeabi-v7a&apn=&bannert=26@27@28@29@30@31@32@43&cct=qivtkjuhVfjgRS8I68v3kYuteug_MHaGq8BgklutVujTM-8OA&cen=cuid_cut_cua_uid&cll=_a2BNgaO2t_lOe8r0u28NguG2i30AOxNB&country=US&cpver=1&crid=1473773004703&f=search&from=1000561u&gms=true&is_support_webp=true&language=en&native_api=1&network=WF&operator=460021&pkname=com.baidu.appsearch&platform_version_id=15&pn=0&province=qiB_k0ihetgCRSf66iSTkjO_eug_MS8LqPSpkluJeflfMBioA&psize=2&ptl=hp&pu=cua@_PvjhYa6vhIDJEjPkJAiC_hX2Ng-I28KAvoOB,osname@baiduappsearch,ctv@1,cfrom@100027l,cuid@guvC80PH280kiSuujivpi_afHu_-aSf608SPugaYHi6suviJla-Di_ueBi_Ku2iJguv98mnxB,cut@0ks9RgaU2iyvaXiDzuL08gNXxokk5FqJjXpeB,csrc@app_box_txt&rqt=rty&st=10a001&tn=native&uid=guvC80PH280kiSuujivpi_afHu_-aSf608SPugaYHiqBuSivYu2U8juC2i_javiTQS2jC&usertype=0&ver=16790412&word=%E6%96%97%E5%9C%B0%E4%B8%BB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Traceid:
      - '1473775770095703245809042676245062955122'
    body:
      encoding: ASCII-8BIT
      string: '{"error_no":0,"message":"","result":{"queryInfo":{"as_intervene":0,"requirement_type":1,"query":"\u6597\u5730\u4e3b"},"data":[{"datatype":46,"itemdata":{"download_inner":"http:\/\/gdown.baidu.com\/data\/wisegame\/3305c88288d6b021\/huanledoudizhuchaoqiangban_3780.apk","versioncode":"3780","packageid":"445800","signmd5":"1441789705","size":"19.8M","today_strDownload":"6\u4e07","groupid":"3944371","platform_version":"2.0","aladdin_flag":"1","package":"com.mas.wawagame.BDDKlord","docid":"9841968","versionname":"3.7.8.0","score_count":"64319","type":"game","md5":"4abd2d083305c88288d6b02144d5cf81","icon":"http:\/\/wa1.baidu-1img.cn\/timg?appsite&size=b256_256&imgtype=3&sec=1473775771&nocache&di=e2d2b7a0a742e5709a1754d7cc72a078&src=http%3A%2F%2Fd.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2Ff42bd40735fae6cdc8a6587607b30f2442a70f93.jpg","sname":"\u6b22\u4e50\u6597\u5730\u4e3b","manual_short_brief":"3\u4ebf\u4eba\u90fd\u5728\u73a9\u7684\u6597\u5730\u4e3b\uff01\u7b7e\u5230\u76f4\u63a5\u9001\u8bdd\u8d39\uff0c\u6e38\u620f\u79d2\u5f00\u65e0\u7b49\u5f85\uff0c\u6b22\u6597\u765e\u6597\u5565\u90fd\u6709\uff0c\u5355\u673a\u6ca1\u7f51\u4e5f\u80fd\u73a9\uff01","updatetime":"2016-08-26","download_url":"http:\/\/gdown.baidu.com\/data\/wisegame\/3305c88288d6b021\/huanledoudizhuchaoqiangban_3780.apk","score":"76","all_download":"4658\u4e07\u4e0b\u8f7d","support_chip":"0","display_download":"46580336","popu_index":"93","yesterday_download_pid":"57194","detail_background":"","mtc_status":"1","app_gift_title":"","info":[],"adv_wrapper":[],"popularity":"93","ishot":false,"tj":"game_9841968_445800_\u6b22\u4e50\u6597\u5730\u4e3b","f":"search@\u6597\u5730\u4e3b@1@1@search@source+DUOKU@pos+1@bid+1@ctr+0.000000@trans+@keyword+\u6597\u5730\u4e3b@query+\u6597\u5730\u4e3b@searchid+3051875447811987190@package+com.mas.wawagame.BDDKlord@sample+flow0@logid+0570984082@special@hitSamplings+game_exp","official_icon_url":"http:\/\/wap.baidu.com\/static\/freeapp\/native\/official-80.png","screenshots":[{"type":"0","img_url":"http:\/\/wa2.baidu-1img.cn\/timg?appsite&size=b307_512&quality=80&sec=1473775771&nocache&di=d2290f884b20d6116e0ab8728f586abf&src=http%3A%2F%2Fd.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2Ff22397dda144ad348a8e823bd8a20cf431ad855d.jpg","big_img_url":"http:\/\/wa2.baidu-1img.cn\/timg?appsite&size=b480_800&quality=100&sec=1473775771&nocache&di=d2290f884b20d6116e0ab8728f586abf&src=http%3A%2F%2Fd.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2Ff22397dda144ad348a8e823bd8a20cf431ad855d.jpg","rotate":1},{"type":"0","img_url":"http:\/\/wa2.baidu-1img.cn\/timg?appsite&size=b307_512&quality=80&sec=1473775771&nocache&di=f2c1e522f0c8666ad60209c82ed76465&src=http%3A%2F%2Fb.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2Fa98065380cd79123467f8ec8a5345982b3b780eb.jpg","big_img_url":"http:\/\/wa1.baidu-1img.cn\/timg?appsite&size=b480_800&quality=100&sec=1473775771&nocache&di=f2c1e522f0c8666ad60209c82ed76465&src=http%3A%2F%2Fb.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2Fa98065380cd79123467f8ec8a5345982b3[...]
