---
http_interactions:
- request:
    method: get
    uri: http://m.baidu.com/appsrv?abi=armeabi-v7a&action=boardcate&apn=&bannert=26@27@28@29@30@31@32@43&cct=qivtkjuhVfjgRS8I68v3kYuteug_MHaGq8BgklutVujTM-8OA&cen=cuid_cut_cua_uid&cll=_a2BNgaO2t_lOe8r0u28NguG2i30AfgjB&country=US&cpver=1&crid=1473783086118&from=1000561u&gms=true&is_support_webp=true&language=en&native_api=1&network=WF&operator=460021&pkname=com.baidu.appsearch&platform_version_id=15&pn=0&province=qiB_k0ihetgCRSf66iSTkjO_eug_MS8LqPSpkluJeflfMBioA&psize=2&ptl=hp&pu=cua@_PvjhYa6vhIDJEjPkJAiC_hX2Ng-I28KAO95B,osname@baiduappsearch,ctv@1,cfrom@100027l,cuid@HNRicBldByAa7hGo2Fd2GaWGz35V9rHd1YXfSQKcV6IevHBz1TxGoP2s2m-rW1KFFxIYLhLDJ,cut@0ks9RgaU2iyvaXiDzuL08gNXxokk5FqJjwKZB&rqt=rty&sorttype=soft&uid=HNRicBldByAa7hGo2Fd2GaWGz35V9rHd1YXfSQKcV65swu5gRnxc75q0sRZ5KJ91Vqs4z&usertype=0&ver=16790412
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Traceid:
      - '1475313108068271898612915121301966762114'
    body:
      encoding: ASCII-8BIT
      string: '{"error_no":0,"message":"","result":{"data":[{"datatype":41,"itemdata":[{"name":"\u4e3b\u9898\u7f8e\u5316","dataurl":"","icon":"http:\/\/wap.baidu.com\/static\/freeapp\/native\/img\/91_deskicon.png","pagetype":"18","filterinstalled":false,"high_light":"","f":"desksoft@1@1"},{"name":"\u5973\u751f\u5fc5\u5907","dataurl":"appsrv?native_api=1&action=generalboard&boardid=board_101_419&subcateurl=true&sorttype=soft&norec=1","icon":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/11385343fbf2b211ae8092dacf8065380dd78ef3.jpg","pagetype":"0","viewtype":"13","filterinstalled":true,"high_light":"","f":"subcatesoft@1@1"},{"name":"\u7537\u4eba\u6700\u7231","dataurl":"appsrv?native_api=1&action=generalboard&boardid=board_101_420&subcateurl=true&sorttype=soft&norec=1","icon":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/8326cffc1e178a8260746e34f303738da877e8de.jpg","pagetype":"0","viewtype":"13","filterinstalled":true,"high_light":"","f":"subcatesoft@1@2"},{"name":"\u65f6\u5c1a\u8d2d\u7269","dataurl":"appsrv?native_api=1&action=generalboard&boardid=board_100_231&subcateurl=true&sorttype=soft&norec=1","icon":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/8d5494eef01f3a299b5f3b3b9c25bc315d607cb4.jpg","pagetype":"0","viewtype":"13","filterinstalled":true,"high_light":"","f":"subcatesoft@1@3"},{"name":"App\u4e5f\u4f18\u96c5","dataurl":"appsrv?native_api=1&action=generalboard&boardid=board_100_20028&subcateurl=true&sorttype=soft&norec=1","icon":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/71cf3bc79f3df8dc62fdb018c811728b46102872.jpg","pagetype":"0","viewtype":"13","filterinstalled":true,"high_light":"","f":"subcatesoft@1@4"},{"name":"\u8585\u7f8a\u6bdb","dataurl":"\/appsrv?native_api=1&action=preferentiallist&tabtype=30","icon":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/42166d224f4a20a4cceba37296529822730ed08a.jpg","pagetype":"0","viewtype":"0","filterinstalled":true,"high_light":"","link_info":{"type":43,"url":"\/appsrv?native_api=1&action=preferentiallist&tabtype=30","title":"\u8585\u7f8a\u6bdb","fParam":"subcatesoft@1@5","from_back":false},"f":"subcatesoft@1@5"},{"name":"\u7535\u5b50\u4e66\u57ce","dataurl":"appsrv?native_api=1&action=generalboard&boardid=board_101_20012&subcateurl=true&sorttype=soft&norec=1","icon":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/8326cffc1e178a824bda4129f303738da877e851.jpg","pagetype":"0","viewtype":"13","filterinstalled":true,"high_light":"","f":"subcatesoft@1@6"},{"name":"\u5973\u4eba\u5e2e","dataurl":"appsrv?native_api=1&action=generalboard&boardid=board_100_20030&subcateurl=true&sorttype=[...]
- request:
    method: get
    uri: http://m.baidu.com/appsrv?abi=armeabi-v7a&action=boardcate&apn=&bannert=26@27@28@29@30@31@32@43&cct=qivtkjuhVfjgRS8I68v3kYuteug_MHaGq8BgklutVujTM-8OA&cen=cuid_cut_cua_uid&cll=_a2BNgaO2t_lOe8r0u28NguG2i30AfgjB&country=US&cpver=1&crid=1473783086118&from=1000561u&gms=true&is_support_webp=true&language=en&native_api=1&network=WF&operator=460021&pkname=com.baidu.appsearch&platform_version_id=15&pn=0&province=qiB_k0ihetgCRSf66iSTkjO_eug_MS8LqPSpkluJeflfMBioA&psize=2[...]
