---
http_interactions:
- request:
    method: get
    uri: http://m.baidu.com/as?abi=armeabi-v7a&apn=&bannert=26@27@28@29@30@31@32@43&cct=qivtkjuhVfjgRS8I68v3kYuteug_MHaGq8BgklutVujTM-8OA&cen=cuid_cut_cua_uid&cll=_a2BNgaO2t_lOe8r0u28NguG2i30AOxNB&country=US&cpver=1&crid=1473773004703&f=search&from=1000561u&gms=true&is_support_webp=true&language=en&native_api=1&network=WF&operator=460021&pkname=com.baidu.appsearch&platform_version_id=15&pn=1&province=qiB_k0ihetgCRSf66iSTkjO_eug_MS8LqPSpkluJeflfMBioA&psize=2&ptl=hp&pu=cua@_PvjhYa6vhIDJEjPkJAiC_hX2Ng-I28KAvoOB,osname@baiduappsearch,ctv@1,cfrom@100027l,cuid@guvC80PH280kiSuujivpi_afHu_-aSf608SPugaYHi6suviJla-Di_ueBi_Ku2iJguv98mnxB,cut@0ks9RgaU2iyvaXiDzuL08gNXxokk5FqJjXpeB,csrc@app_box_txt&rqt=rty&st=10a001&tn=native&uid=guvC80PH280kiSuujivpi_afHu_-aSf608SPugaYHiqBuSivYu2U8juC2i_javiTQS2jC&usertype=0&ver=16790412&word=%E6%96%97%E5%9C%B0%E4%B8%BB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Traceid:
      - '1473777043068859700209885875747730426304'
    body:
      encoding: ASCII-8BIT
      string: '{"error_no":0,"message":"","result":{"queryInfo":{"as_intervene":0,"requirement_type":1,"query":"\u6597\u5730\u4e3b"},"data":[{"datatype":1,"itemdata":{"detail_background":"","versioncode":"4780","app_gift_title":"","display_download":"13202320","platform_version":"2.0","aladdin_flag":"1","docid":"9882640","versionname":"4.7.8.0","score_count":"8861","type":"game","icon":"http:\/\/wa1.baidu-1img.cn\/timg?appsite&size=b256_256&imgtype=3&sec=1473777043&nocache&di=8ccc62a498491f98b4a635a818070747&src=http%3A%2F%2Fg.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2Fc818972bd40735fa48abb1ae96510fb30f24084a.jpg","manual_short_brief":"2016\u8d85\u706b\u7206\u7684\u514d\u8d39\u6597\u5730\u4e3b\uff0c\u6253\u724c\u8d62\u8bdd\u8d39\uff0c\u968f\u65f6\u968f\u5730\u90fd\u80fd\u73a9\uff01","yesterday_download_pid":"4966","all_download":"1320\u4e07\u4e0b\u8f7d","download_inner":"http:\/\/gdown.baidu.com\/data\/wisegame\/ea5fb372dc78c0e5\/danjidoudizhu_4780.apk","packageid":"1174565","signmd5":"1441789705","mtc_status":"1","size":"18.1M","today_strDownload":"4871","groupid":"3963986","package":"com.mas.wawagame.BDDKjjlordDJ","support_chip":"0","popu_index":"75","md5":"e4543902ea5fb372dc78c0e54c4080e5","sname":"\u6597\u5730\u4e3b(\u5355\u673a\u7248)","download_url":"http:\/\/gdown.baidu.com\/data\/wisegame\/ea5fb372dc78c0e5\/danjidoudizhu_4780.apk","updatetime":"2016-08-31","score":"72","popularity":"75","ishot":false,"tj":"game_9882640_1174565_\u6597\u5730\u4e3b(\u5355\u673a\u7248)","f":"search@\u6597\u5730\u4e3b@2@1@search@source+NATURAL@query+\u6597\u5730\u4e3b@searchid+1462974179041954027@package+com.mas.wawagame.BDDKjjlordDJ@sample+flow0@logid+1843863647@hitSamplings+game_exp","official_icon_url":"http:\/\/wap.baidu.com\/static\/freeapp\/native\/official-80.png"}},{"datatype":1,"itemdata":{"detail_background":"","versioncode":"33","app_gift_title":"","display_download":"3852062","platform_version":"1.6","aladdin_flag":"0","docid":"9004247","versionname":"1.0.33","score_count":"885","type":"game","icon":"http:\/\/wa2.baidu-1img.cn\/timg?appsite&size=b256_256&imgtype=3&sec=1473777043&nocache&di=f876d7eac41e3770d8a6518358df4195&src=http%3A%2F%2Fh.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2[...]
