---
http_interactions:
- request:
    method: get
    uri: http://m.baidu.com/appsrv?abi=armeabi-v7a&action=risingrank&apn=&bannert=26@27@28@29@30@31@32@43&cct=qivtkjuhVfjgRS8I68v3kYuteug_MHaGq8BgklutVujTM-8OA&cen=cuid_cut_cua_uid&cll=_a2BNgaOv8gyueiy0u28NguGvisVA&country=US&cpver=1&crid=1473853123417&from=1000561u&gms=true&is_support_webp=true&language=en&native_api=1&network=WF&operator=460021&pkname=com.baidu.appsearch&platform_version_id=15&pn=0&province=qiB_k0ihetgCRSf66iSTkjO_eug_MS8LqPSpkluJeflfMBioA&psize=2&ptl=hp&pu=cua@_PvjhYa6vhIDJEjPkJAiC_hX2Ng-I28KAYLiB,osname@baiduappsearch,ctv@1,cfrom@100027l,cuid@guvC80PH280kiSuujivpi_afHu_-aSf608SPugaYHi6suviJla-Di_ueBi_Ku2iJguv98TJBB,cut@0ks9RgaU2iyvaXiDzuL08gNXxokk5FqJjDBBB&rqt=rty&uid=guvC80PH280kiSuujivpi_afHu_-aSf608SPugaYHiqBuSivYu2U8juC2i_javiTQS2jC&usertype=0&ver=16790412
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Traceid:
      - '1473854554031949825010811747517302284113'
    body:
      encoding: ASCII-8BIT
      string: '{"error_no":0,"message":"","result":{"data":[{"datatype":347,"itemdata":{"title":"\u98d9\u5347\u699c","title_img":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/18d8bc3eb13533faa55c25a2add3fd1f40345b57.jpg","bgcolor":"#ff6152","img":"","date":"09\u670814\u65e5\u66f4\u65b0"}},{"datatype":348,"itemdata":{"sname":"\u4f18\u9177","packageid":"1827869107","aladdin_flag":"1","docid":"9786657","type":"soft","versionname":"5.8","versioncode":"103","cateid":"506","catename":"\u5f71\u97f3\u64ad\u653e","size":"30.9M","download_url":"http:\/\/gdown.baidu.com\/data\/wisegame\/7d78e7592476831e\/youku_103.apk","updatetime":"2016-08-11","icon":"http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b150_150&imgtype=3&quality=80&er&sec=0&di=158a9c3b65040026f27948962afe0b4c&ref=http%3A%2F%2Fa.hiphotos.bdimg.com&src=http%3A%2F%2Fa.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F3ddf8db1cb13495439c4dbf15e4e9258d0094a48.jpg","download_inner":"http:\/\/gdown.baidu.com\/data\/wisegame\/7d78e7592476831e\/youku_103.apk","signmd5":"1384977886","package":"com.youku.phone","score":"83","score_count":"170887","all_download":"5.5\u4ebf\u4e0b\u8f7d","platform_version":"4.0","popu_index":"98","manual_short_brief":"\u6781\u9650\u6311\u6218\u3001\u706b\u60c5\u60c5\u62a5\u5c40\u5168\u7f51\u72ec\u64ad","today_strDownload":"43\u4e07\u65e5\u4e0b\u8f7d","yesterday_download_pid":"717477","display_download":"555597089","support_chip":"0","f":"topquick@1@1@source+MBUADC@boardid+2166@pos+1@flow+BOARD@trans+2;2016-09-14;10001@go_personal+0@mode+CPT@bid+1@oriboardid+2166@oripos+1@exp+full_flow@sample+adv@package+com.youku.phone@searchid+883383331970165084@terminal_type+client","tj":"soft_9786657_1827869107_\u4f18\u9177","manual_brief":"\u6781\u9650\u6311\u6218\u3001\u706b\u60c5\u60c5\u62a5\u5c40\u5168\u7f51\u72ec\u64ad","brief":"\u3010\u91cd\u78c5\uff012016\u65b0\u7248\u597d\u58f0\u97f3\u5168\u7f51\u8054\u72ec\uff01\u30117\u670815\u65e5\u8d77\u6bcf\u5468\u4e94\u4e0e\u4f60\u76f8\u7ea6\uff0c\u4e0d\u4ec5\u6709\u5468\u6770\u4f26\u201c\u5c0f\u516c\u4e3e\u201d\u7b49\u56db\u4f4d\u5bfc\u5e08\uff0c\u66f4\u6709\u674e\u548f\u62c5\u5f53\u4e3b\u6301PK\u597d\u820c\u5934\u3010\u6691\u671f\u5b85\u5bb6\u5fc5\u5907\u7cbe\u5f69\u5927\u5267\u3011\u4efb\u610f\u4f9d\u604b\uff1a\u5e74\u5ea6\u8d85\u751c\u97e9\u5267\uff0c\u91d1\u5b87\u5f6c\u79[...]
