---
http_interactions:
- request:
    method: get
    uri: http://m.baidu.com/appsrv?abi=armeabi-v7a&action=generalboard&apn=&bannert=26@27@28@29@30@31@32@43&boardid=board_100_0105&catestrategy=adv&cct=qivtkjuhVfjgRS8I68v3kYuteug_MHaGq8BgklutVujTM-8OA&cen=cuid_cut_cua_uid&cll=_a2BNgaO2t_lOe8r0u28NguG2i30AzjCB&country=US&cpver=1&crid=1473780986900&f=subcategame@1@1&from=1000561u&gms=true&is_support_webp=true&language=en&native_api=1&network=WF&operator=460021&pkname=com.baidu.appsearch&platform_version_id=15&pn=0&province=qiB_k0ihetgCRSf66iSTkjO_eug_MS8LqPSpkluJeflfMBioA&psize=2&ptl=hp&pu=cua@_PvjhYa6vhIDJEjPkJAiC_hX2Ng-I28KAko4B,osname@baiduappsearch,ctv@1,cfrom@100027l,cuid@guvC80PH280kiSuujivpi_afHu_-aSf608SPugaYHi6suviJla-Di_ueBi_Ku2iJguv98BASB,cut@0ks9RgaU2iyvaXiDzuL08gNXxokk5FqJjToAB&rqt=rty&sorttype=game&subcateurl=true&uid=guvC80PH280kiSuujivpi_afHu_-aSf608SPugaYHiqBuSivYu2U8juC2i_javiTQS2jC&usertype=0&ver=16790412
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Traceid:
      - '1473781751020343399410518510948582101017'
    body:
      encoding: ASCII-8BIT
      string: '{"error_no":0,"message":"","result":{"data":[{"datatype":40,"itemdata":{"title":"\u51fa\u8272\u65b0\u6e38\u00b7\u4f11\u95f2","descrption":"","app_data":[{"sname":"\u5b9d\u77f3\u8fde\u7ebf","aladdin_flag":"0","docid":"9082211","groupid":"3631676","packageid":"637515","type":"game","versionname":"2.3","versioncode":"31","cateid":"401","size":"9.9M","download_url":"http:\/\/mobile.d.appchina.com\/McDonald\/d\/3635063\/cop.baidu_0\/com.zl.game.diamondline.apk","updatetime":"2016-03-22","icon":"http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b150_150&imgtype=3&quality=80&er&sec=0&di=6efa6b3aae1aa45bf6fa6d6e15bc720e&ref=http%3A%2F%2Fg.hiphotos.bdimg.com&src=http%3A%2F%2Fg.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F2234970a304e251f4be4a1e7a086c9177f3e539a.jpg","download_inner":"http:\/\/gdown.baidu.com\/data\/wisegame\/ccad38faea7e1634\/baoshilianxian_31.apk","signmd5":"1058053661","package":"com.zl.game.diamondline","score":"89","score_count":"4244","all_download":"222\u4e07\u4e0b\u8f7d","platform_version":"2.2","popu_index":"79","manual_short_brief":"\u5b9d\u77f3\u8fde\u7ebf
        Jewel Line\u662f\u4e00\u6b3e\u5355\u673a\u76ca\u667a\u5192\u9669\u4f11\u95f2\u7684\u8fde\u7ebf\u6d88\u9664\u6e38\u620f\uff0c\u7a81\u7834\u5b9d\u77f3\u8ff7\u9635\uff0c\u73a9\u8f6c\u94bb\u77f3\u8ff7\u60c5\uff0c\u4e00\u8d77\u6765\u505a\u4e00\u56de\u5b9d\u77f3\u8fbe\u4eba\uff01\u6e38\u620f\u7279\u8272\uff1a","today_strDownload":"1722\u65e5\u4e0b\u8f7d","yesterday_download_pid":"1234","app_gift_title":"","display_download":"2222633","support_chip":"0","brief":"\u5b9d\u77f3\u8fde\u7ebf
        Jewel Line\u662f\u4e00\u6b3e\u5355\u673a\u76ca\u667a\u5192\u9669\u4f11\u95f2\u7684\u8fde\u7ebf\u6d88\u9664\u6e38\u620f\uff0c\u7a81\u7834\u5b9d\u77f3\u8ff7\u9635\uff0c\u73a9\u8f6c\u94bb\u77f3\u8ff7\u60c5\uff0c\u4e00\u8d77\u6765\u505a\u4e00\u56de\u5b9d\u77f3\u8fbe\u4eba\uff01\u6e38\u620f\u7279\u8272\uff1a1\u3001\u9177\u70ab\u591a\u5f69\u7684\u5b9d\u77f3\u5143\u7d20;2\u3001\u95ea\u8000\u593a\u76ee\u7684\u6e38\u620f\u753b\u9762;3\u3001\u975e\u5e38\u6d41\u7545\u7684\[...]
