---
http_interactions:
- request:
    method: get
    uri: http://m.baidu.com/appsrv?abi=armeabi-v7a&action=softrank&apn=&bannert=26@27@28@29@30@31@32@43&cct=qivtkjuhVfjgRS8I68v3kYuteug_MHaGq8BgklutVujTM-8OA&cen=cuid_cut_cua_uid&cll=_a2BNguOv8g5ue8r0u28NguG2fSlATgqB&country=US&cpver=1&crid=1476088546521&from=1000561u&gms=true&is_support_webp=true&language=en&native_api=1&network=WF&operator=460021&pkname=com.baidu.appsearch&platform_version_id=15&pn=0&province=qiB_k0ihetgCRSf66iSTkjO_eug_MS8LqPSpkluJeflfMBioA&psize=2&ptl=hp&pu=cua@_PvjhYa6vhIDJEjPkJAiC_hX2Ng-I28KA3bjB,osname@baiduappsearch,ctv@1,cfrom@100027l,cuid@guvC80PH280kiSuujivpi_afHu_-aSf608SPugaYHi6suviJla-Di_ueBi_Ku2iJguv98y9eB,cut@0ks9RgaU2iyvaXiDzuL08gNXxokk5FqJjkcBB&rqt=rty&uid=guvC80PH280kiSuujivpi_afHu_-aSf608SPugaYHiqBuSivYu2U8juC2i_javiTQSSqC&usertype=0&ver=16790412
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Traceid:
      - '1476088941026936321003995213850370969196'
    body:
      encoding: ASCII-8BIT
      string: '{"error_no":0,"message":"","result":{"data":[{"datatype":1,"itemdata":{"sname":"\u9177\u72d7\u97f3\u4e50","aladdin_flag":"1","docid":"10027543","groupid":"4048616","packageid":"3188284221","type":"soft","versionname":"8.3.1","versioncode":"8315","cateid":"506","catename":"\u5f71\u97f3\u64ad\u653e","size_ori":34272124,"download_url":"http:\/\/gdown.baidu.com\/data\/wisegame\/5cb6ee8a51a0696b\/kugouyinle_8315.apk","updatetime":"2016-09-26","icon":"http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b150_150&imgtype=3&quality=80&er&sec=0&di=f0e994df019f5b39573ea187b8532b4d&ref=http%3A%2F%2Fg.hiphotos.bdimg.com&src=http%3A%2F%2Fg.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F01d9f2d3572c11df671c7ada6b2762d0f603c27f.jpg","download_inner":"http:\/\/gdown.baidu.com\/data\/wisegame\/5cb6ee8a51a0696b\/kugouyinle_8315.apk","signmd5":"3726987293","md5":"c7f794b95cb6ee8a51a0696bc50dbf82","firstflag":false,"package":"com.kugou.android","score":"88","score_count":"224477","all_download_ori":"8.9\u4ebf","platform_version":"4.0","popularity":"98","manual_short_brief":"\u4e13\u4e1a\u65e0\u635f\u97f3\u8d28\uff0c\u6d77\u91cf\u514d\u8d39\u6b63\u7248\u97f3\u4e50\u7684\u5168\u6c11\u97f3\u4e50\u64ad\u653e\u5668\u3002","today_strDownload_ori":"57\u4e07","yesterday_download_pid":"600368","app_gift_title":"","display_download":"891635218","support_chip":"0","ishot":false,"commentsnum_ori":"224477","usenum_ori":"8.9\u4ebf","adv_item":"source+MBUADC@boardid+13262@pos+1@flow+BOARD@trans+2;2016-10-10;10001@mode+CPT@bid+1@oriboardid+13262@oripos+1@exp+full_flow@sample+adv@package+com.kugou.android@searchid+425745861017566482@terminal_type+client","detail_background":"http:\/\/h.hiphotos.bdimg.com\/wisegame\/pic\/item\/ce345982b2b7d0a20b8dce00c3ef76094a369ae3.jpg","discount_info":"\u6d77\u91cf\u66f2\u5e93,\u65e0\u635f\u97f3\u8d28,\u542c\u6b4c\u5fc5\u5907","today_download_pid":"576821","brief":"\u3010\u6838\u5fc3\u529f\u80fd\u30111.
        \u66f4\u4eba\u6027\u5316\u7684\u64cd\u4f5c\u754c\u9762\u754c\u9762\u5168\u65b0\u8bbe\u8ba1\uff0c\u6e05\u65b0\u7b80\u6d01\uff0c\u70b9\u5212\u4e4b\u95f4\u5c3d\u4eab\u7545\u723d\u4f53\u9a8c\uff1b2.
        \u4e50\u5e93\u4f53\u9a8c\u5927\u6709\u4e0d\u540c\u8033\u76ee\u4e00\u65b0\u7684\u4e50\u5e93\uff0c\u65b0\u6b4c\u901f\u9012\u3001\u6743\u5a01\u699c\u5355\u3001\u7cbe\u9009\u6b4c\u5355\uff0c\u4f60\u8981\u627e\u7684\u97f3\u4e50\uff0c\u90fd\u5728\u9177\u72d7\u4e50\u5e93\uff1b3.
        \u4e13\u4e1a\u8770\u86c7\u97f3\u6548\u7531\u8770\u86c7(VIPER)\u4e13\u4e1a\u6253\u9020\u7684\u667a\u80fd\u5747\u8861\u73af\u7ed5\u97f3\uff0c\u66f4\u6709\u591a\u79cd\u9884\u8bbe\u97f3\u6548\uff0c\u8ba9\u540c\u4e00\u9996\u6b4c\u4e5f\u6709\u4e0d\u540c\u7684\u5473\u9053\uff1b4.
        \u878d\u5408\u9177\u72d7\u6536\u97f3\u673a\u97f3\u4e50\u3001\u60c5\u611f\u3001\u65b0\u95fb\u2026\u2026\u8046\u542c\u4e0d\u540c\u7684\u58f0\u97f3\uff0c\u611f\u53d7\u4e0d\u540c\u4e16\u754c\uff0c\u91cd\u62fe\u4e0d\u7ecf\u610f\u6d41\u53bb\u7684\u8c03\u9891\u65f6\u5149\uff1b5.
        \u968f\u8eab\u643a\u5e26\u7684\u624b\u673aKTV\u8d85\u8fc7300\u4e07\u9996\u6d77\u91cf\u4f34\u594f\uff0c\u5f55\u97f3\u68da\u3001KTV\u3001\u97f3\u4e50\u5385\u3001\u6f14\u5531\u4f1a\u2026\u2026\u591a\u79cd\u97f3\u6548\uff0c\u8770\u86c7(VIPER)\u97f3\u9891\u6e32\u67d3\uff0c\u8ba9\u4f60\u5f00\u55d3\u5373\u6210\u5929\u7c41\uff1b","f_prefix":"softrank","rankingnum":1}},{"datatype":1,"itemdata":{"sname":"\u552f\u54c1\u4f1a","aladdin_flag":"1","docid":"10068282","groupid":"4080545","packageid":"2685952706","type":"soft","versionname":"5.27.2","versioncode":"544","cateid":"510","catename":"\u7406\u8d22\u8d2d\u7269","size_ori":32593701,"download_url":"http:\/\/gdown.baidu.com\/data\/wisegame\/47e96106cbb053dd\/weipinhui_544.apk","updatetime":"2016-10-08","icon":"http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b150_150&imgtype=3&quality=80&er&sec=0&di=510e90d608ee[...]
