---
http_interactions:
- request:
    method: get
    uri: http://m.baidu.com/appsrv?abi=armeabi-v7a&action=detail&apn=&cct=qivtkjuhVfjgRS8I68v3kYuteug_MHaGq8BgklutVujTM-8OA&cen=cuid_cut_cua_uid&cll=gasy8gayvfjCRvuE_a2BNgaOvtQlm5TuB&country=RU&docid=9723881&f=gamepagecolumns@%E4%BA%BA%E6%B0%94%E7%BD%91%E6%B8%B8%E7%81%AB%E5%8A%9B%E5%85%A8%E5%BC%80@2@15@source%2BNATURAL@boardid%2B12690@pos%2B15@searchid%2B191596714211469762@terminal_type%2Bclient@sample%2Badv&firstdoc=&from=1012271a&gms=true&is_support_webp=true&language=ru&native_api=1&network=WF&operator=&pc_channel=&pkname=com.baidu.appsearch&platform_version_id=15&psize=0&pu=cua@_Pvjh_aJvCI-JEjPkJAiC_CX2Ig-N28OAy2OB,osname@baiduappsearch,ctv@1,cfrom@1012271a,cuid@082YulO6SilQuBig_PvOigPz2ilqiBajYi2U80iuHi6ZuviJluvwigaxvf_lav8Kjuv7iou5B,cut@p8D_O09bXu5dfQNdpa2H8jIJ2I_DCvheguLJjkJRm6LX5SZeB&uid=082YulO6SilQuBig_PvOigPz2ilqiBajYi2U80iuHiqduSivguvsigPS28gfuB85QSIoC&usertype=1&ver=16785257
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Traceid:
      - '1471253420037823898608889152871123379778'
    body:
      encoding: ASCII-8BIT
      string: '{"error_no":0,"message":"","result":{"generalDisplay":{"generalDisplay":null},"data":{"download_inner":"http:\/\/gdown.baidu.com\/data\/wisegame\/f7b23b428e0c593c\/liebaoliulanqi_412002.apk","versioncode":"412002","packageid":"1117957","signmd5":"2123757465","dev_display":{"dev_id":"652597755","dev_name":"\u5317\u4eac\u730e\u8c79\u79fb\u52a8\u79d1\u6280\u6709\u9650\u516c\u53f8","dev_score":"0","dev_level":"0","f":"develop_1117957_9723881"},"brief":"\u3010\u4f53\u79ef\u3011\u4e1a\u754c\u6700\u5c0f\uff0c\u4ec5\u67094M<br>\u3010\u5f71\u89c6\u3011\u544a\u522b\u89c6\u9891\u5ba2\u6237\u7aef\uff0c\u730e\u8c79\u770b\u5267\u65b0\u53c8\u5168<br>\u3010\u7701\u6d41\u91cf\u3011\u62e6\u622a\u5e7f\u544a\u3001\u667a\u80fd\u52a0\u8f7d\uff0c\u66f4\u770130%<br>\u3010\u5b89\u5168\u3011\u62d2\u7edd\u5e7f\u544a\u3001\u544a\u522b\u4e2d\u6bd2\uff0c\u591a\u91cd\u4fdd\u62a4\uff0c\u7f51\u8d2d\u8212\u5fc3\u3001\u4f7f\u7528\u5b89\u5fc3<br>\u3010\u65b0\u95fb\u3011\u4e00\u624b\u8d44\u8baf\u3001\u6df1\u5ea6\u9605\u8bfb\uff0c\u7528\u730e\u8c79\u77e5\u5929\u4e0b<br>\u3010\u5feb\u3011\u4e0a\u7f51\u5feb\u3001\u4e0d\u5361\u987f\u3001\u5185\u5b58\u8d85\u4f4e\u5360\u7528","size":"4.7M","today_strDownload":"3\u4e07","groupid":"3881858","platform_version":"4.0","sourcename":"\u5f00\u653e\u5e73\u53f0","aladdin_flag":"1","package":"com.ijinshan.browser_fast","docid":"9723881","versionname":"4.12.2","manual_brief":"\u89c6\u9891\u79bb\u7ebf\u4e0b\u8f7d0\u6d41\u91cf\u770b\u7247\uff1b\u5feb\u64ad\u3001\u767e\u5ea6\u5f71\u97f3\u5f71\u9662\u5927\u7247\u514d\u8d39\u770b\uff1b","platform_version_id":"14","changelog":"1.
        \u9996\u9875\u66f4\u597d\u770b\uff0c\u5bab\u683c\u66f4\u597d\u75282. \u65b0\u589e\u5c0f\u8bf4\u5165\u53e3\uff0c\u7cbe\u5f69\u66f4\u4e0d\u505c","catename":"\u7cfb\u7edf\u5de5\u5177","cateid":"501","type":"soft","icon":"http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b150_150&imgtype=3&quality=100&er&sec=0&di=32fa4b486ef8f5f6d43547762ea02fa9&ref=http%3A%2F%2Fh.hiphotos.bdimg.com&src=http%3A%2F%2Fh.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F3aee3d6d55fbb2fbb41abaf9494a20a44623dc2d.jpg","sname":"\u730e\u8c79\u6d4f\u89c8\u5668","manual_short_brief":"","updatetime":"2016-07-28","screenshots":["http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b240_360&imgtype=0&quality=100&er&sec=0&di=a4b87948a19e4767a876823df4a26118&ref=http%3A%2F%2Fh.hiphotos.bdimg.com&src=http%3A%2F%2Fh.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F1e1ed21b0ef41bd54251a19e59da81cb39db3d5e.jpg","http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b240_360&imgtype=0&quality=100&er&sec=0&di=35c1b0dcf411e29bc8632cfdb99a8c9a&ref=http%3A%2F%2Fh.hiphotos.bdimg.com&src=http%3A%2F%2Fh.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F0f81800a19d8bc3e768f4fa08a8ba61ea9d345d1.jpg","http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b240_360&imgtype=0&quality=100&er&sec=0&di=8f4a51a066bd2316802acbf1b72db7bb&ref=http%3A%2F%2Fd.hiphotos.bdimg.com&src=http%3A%2F%2Fd.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F603b5bb5c9ea15ce4577ae63be003af33a87b23b.jpg","http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b240_360&imgtype=0&quality=100&er&sec=0&di=43bbeb1fed436efd897416c70fc24174&ref=http%3A%2F%2Ff.hiphotos.bdimg.com&src=http%3A%2F%2Ff.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F32da81cb39dbb6fda759ac4c0124ab18972b375e.jpg","http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b240_360&imgtype=0&quality=100&er&sec=0&di=46e5df56efa1af171eb217b605172593&ref=http%3A%2F%2Ff.hiphotos.bdimg.com&src=http%3A%2F%2Ff.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2Faaea15ce36d3d539c3a441a93287e950352ab03b.jpg"],"app_related":[{"packageid":"1770553","groupid":"3903477","docid":"9765163","sname":"\u80d6\u718a\u4e00\u5143\u4e70","versionname":"1.2.2","icon":"http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b150_150&imgtype=3&quality=100&er&sec=0&di=766b418f8910dd9bcfadbb3efe7274c9&ref=http%3A%2F%2Ff.hiphotos.bdimg.com&src=http%3A%2F%2Ff.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F4c2eb9389b504fc23020b35deddde71190ef6d6f.jpg","package":"com.kugou.yiyuanmai","versioncode":"23","download_inner":"http:\/\/gdown.baidu.com\/data\/wisegame\/009abd7d2fb22bfe\/pangxiongyiyuanmai_23.apk","size":"15.3M","strDownload":"140\u4e07","type":"soft","recommend":"\u98d9\u5347\u699c\u63a8\u8350","popularity":"64","all_download":"140\u4e07\u4e0b\u8f7d","f":"c2_r_1_1117957@source+RECNATURE@recpid+1117957@pos+1@bid+0@mode+null@flow+REC@trans+null@package+com.kugou.yiyuanmai@searchid+987670612068390371@terminal_type+client@rec_type+relateapp@tj+soft_9765163_1770553_\u80d6\u718a\u4e00\u5143\u4e70&","tj":"soft_9765163_1770553_\u80d6\u718a\u4e00\u5143\u4e70&"},{"packageid":"65440","groupid":"3919551","docid":"9792324","sname":"\u6dd8\u7c89\u5427","versionname":"8.61","icon":"http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b150_150&imgtype=3&quality=100&er&sec=0&di=ac863d18c726cc45f952588402cbdce6&ref=http%3A%2F%2Fc.hiphotos.bdimg.com&src=http%3A%2F%2Fc.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F73385343fbf2b2112136f804c28065380cd78e64.jpg","package":"com.leixun.taofen8","versioncode":"87","downloa[...]
