---
http_interactions:
- request:
    method: get
    uri: http://m.baidu.com/appsrv?abi=armeabi-v7a&action=featureboard&apn=&bannert=26@27@28@29@30@31@32@43&board=board_100_790&cct=qivtkjuhVfjgRS8I68v3kYuteug_MHaGq8BgklutVujTM-8OA&cen=cuid_cut_cua_uid&cll=_a2BNgaO2t_lOeiJ0u28NguGviQ0AfW4B&country=US&cpver=1&crid=1477237476432&f=@1@&from=1000561u&gms=true&host=https://appc.baidu.com&is_special=1&is_support_webp=true&language=en&native_api=1&network=WF&operator=460021&pkname=com.baidu.appsearch&platform_version_id=15&pn=0&province=qiB_k0ihetgCRSf66iSTkjO_eug_MS8LqPSpkluJeflfMBioA&psize=2&ptl=hp&pu=cua@_PvjhYa6vhIDJEjPkJAiC_hX2Ng-I28KApBuB,osname@baiduappsearch,ctv@1,cfrom@100027l,cuid@guvC80PH280kiSuujivpi_afHu_-aSf608SPugaYHi6suviJla-Di_ueBi_Ku2iJguv98icsB,cut@0ks9RgaU2iyvaXiDzuL08gNXxokk5FqJjH1ZB&rqt=rty&uid=guvC80PH280kiSuujivpi_afHu_-aSf608SPugaYHiqBuSivYu2U8juC2i_javiTQSNqC&usertype=0&ver=16790412
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Traceid:
      - '1477238227065687757807780089329849854269'
    body:
      encoding: ASCII-8BIT
      string: '{"error_no":0,"message":"","result":{"data":[{"datatype":350,"itemdata":{"sname":"3D\u6050\u9f99","aladdin_flag":"0","docid":"10124126","groupid":"4118785","packageid":"1792215","type":"game","versionname":"2.0.2","versioncode":"22","cateid":"401","catename":"\u4f11\u95f2\u76ca\u667a","size":"33.2M","download_url":"http:\/\/gdown.baidu.com\/data\/wisegame\/6cf84d79c961def2\/3Dkonglong_22.apk","updatetime":"2016-10-17","icon":"http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b150_150&imgtype=3&quality=80&er&sec=0&di=434c859d26f8bab638ac8e68f5f841a4&ref=http%3A%2F%2Fb.hiphotos.bdimg.com&src=http%3A%2F%2Fb.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F447f9e2f070828382e8397feb099a9014d08f14a.jpg","download_inner":"http:\/\/gdown.baidu.com\/data\/wisegame\/6cf84d79c961def2\/3Dkonglong_22.apk","signmd5":"2268961828","package":"com.snaildada.vr.dinosaur","score":"100","score_count":"2","all_download":"3\u4e07\u4e0b\u8f7d","platform_version":"2.3","popu_index":"49","manual_short_brief":"3D\u6050\u9f99\uff0c\u5305\u542b\u4e86\u51e0\u5341\u79cd\u6211\u4eec\u6240\u719f\u6089\u7684\u4f8f\u7f57\u7eaa\u6050\u9f99\uff0c\u6709\u51f6\u72e0\u7684\u9738\u738b\u9f99\u3001\u725b\u9f99\uff0c\u9ad8\u5927\u7684\u5251\u9f99\u548c\u957f\u9888\u9f99\uff0c\u8fd8\u6709\u50cf\u4e4c\u9f9f\u4e00\u6837\u7684\u7532\u9f99\uff0c\u4f60\u53ef\u4ee5\u5728\u6050\u9f99","today_strDownload":"230\u65e5\u4e0b\u8f7d","yesterday_download_pid":"46","app_gift_title":"","display_download":"31109","support_chip":"0","dev_display":"{\"dev_id\":\"820508341\",\"dev_name\":\"\u674e\u660e\",\"dev_score\":\"0\",\"dev_level\":\"0\"}","md5":"0f795b9a6cf84d79c961def243c25825","detail_background":"","sizeb":34862072,"tj":"game_10124126_1792215_3D\u6050\u9f99","f":"featurecommonapp@1@1@source+EDITOR@boardid+34036@pos+2@flow+BOARD@trans+NULL@global_optim+1@go_personal+0@mode+NULL@bid+1@oriboardid+34036@oripos+2@exp+full_flow@package+com.snaildada.vr.dinosaur@searchid+2037738859203479630@terminal_type+client","firstflag":false,"ishot":false,"brief":"\u63a8\u8350\u4e0b\u8f7d\u8bd5\u7528\u54e6~","popularity":"49","usenum":"3\u4e07\u4eba\u5728\u73a9","commentsnum":"2\u8bc4\u8bba","tabs":[{"type":1},{"type":2},{"type":3,"f":"catenav_401"}],"rankingnum":1}},{"datatype":350,"itemdata":{"sname":"\u6211\u7684\u57ce\u5e02","aladdin_flag":"0","docid":"10082887","groupid":"4088525","packageid":"1787580","type":"game","versionname":"4.1","versioncode":"41","cateid":"408","catename":"\u7ecf\u8425\u517b\u6210","size":"16.9M","download_url":"http:\/\/gdown.baidu.com\/data\/wisegame\/ccd6af0d114d9256\/wodechengshi_41.apk","updatetime":"2016-10-10","icon":"http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b150_150&imgtype=3&quality=80&er&sec=0&di=6ab091c6d44d06[...]
