---
http_interactions:
- request:
    method: get
    uri: http://m.baidu.com/appsrv?abi=armeabi-v7a&action=detail&apn=&cct=qivtkjuhVfjgRS8I68v3kYuteug_MHaGq8BgklutVujTM-8OA&cen=cuid_cut_cua_uid&cll=_a2BNgaOv8_VOei00u28NguGviLVSS3RB&country=US&crid=1473676762976&docid=9841968&f=onlinegame@1@2@source%2BEDITOR@boardid%2B20113@pos%2B2@flow%2BBOARD@trans%2BNULL@mode%2BNULL@bid%2B1@oriboardid%2B20113@oripos%2B2@exp%2Bfull_flow@sample%2Badv@package%2Bcom.sy37.yhjyj.baidu@searchid%2B3761264578996139958@terminal_type%2Bclient&from=1000561u&gms=true&is_support_webp=true&language=en&location=qivtkjuhVfjgRS8I68v3kYuteug_MHaGq8BgklutVujTM-8OA&native_api=1&network=WF&operator=460021&pkname=com.baidu.appsearch&platform_version_id=15&province=qiB_k0ihetgCRSf66iSTkjO_eug_MS8LqPSpkluJeflfMBioA&psize=2&ptl=hp&pu=cua@_PvjhYa6vhIDJEjPkJAiC_hX2Ng-I28KAr8RB,osname@baiduappsearch,ctv@1,cfrom@100027l,cuid@guvC80PH280kiSuujivpi_afHu_-aSf608SPugaYHi6suviJla-Di_ueBi_Ku2iJguv98vBGB,cut@0ks9RgaU2iyvaXiDzuL08gNXxokk5FqJjU6dB&rqt=rty&uid=guvC80PH280kiSuujivpi_afHu_-aSf608SPugaYHiqBuSivYu2U8juC2i_javiTQS2jC&usertype=0&ver=16790412
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Traceid:
      - '1474048445022914458609141100136473663073'
    body:
      encoding: ASCII-8BIT
      string: '{"error_no":0,"message":"","result":{"data":{"base_info":{"download_inner":"http:\/\/gdown.baidu.com\/data\/wisegame\/3305c88288d6b021\/huanledoudizhuchaoqiangban_3780.apk","versioncode":"3780","lang":"\u82f1\u6587","packageid":"445800","signmd5":"1441789705","today_download_pid":"68076","dev_display":{"dev_id":"1298979947","dev_name":"\u661f\u7f57\u5929\u4e0b\uff08\u5317\u4eac\uff09\u79d1\u6280\u6709\u9650\u516c\u53f8","dev_score":"0","dev_level":"0","f":"develop_445800_9841968"},"security_display":"[{\"engine\":\"\u5b89\u5168\u7ba1\u5bb6\",
        \"security_level\":\"\u5b89\u5168\", \"packageid\":\"342973629\", \"smallicon\":\"http:\\\/\\\/wap.baidu.com\\\/static\\\/as\\\/images\\\/jpg\\\/icon-safe-guanjia.jpg\"},
        {\"engine\":\"\u767e\u5ea6\u624b\u673a\u536b\u58eb\", \"security_level\":\"\u5b89\u5168\",
        \"packageid\":\"347030028\", \"smallicon\":\"http:\\\/\\\/wap.baidu.com\\\/static\\\/as\\\/images\\\/jpg\\\/icon-safe-baidu.jpg\"}]","security":"0","cateid":"407","brief":"\u6691\u671f\u6765\u88ad\uff0c\u6597\u5730\u4e3b\u8ba9\u4f60\u6e05\u51c9\u4e00\u590f\uff01~<br>\u514d\u8d39\u62a5\u540d\u8d62\u8bdd\u8d39\uff01\u5b9e\u7269\u5927\u5956\u8d5b\u9686\u91cd\u4e0a\u7ebf\uff01\u6d77\u91cf\u5145\u503c\u5361\u548c\u5b9e\u7269\u5956\u54c1\u6bcf\u5929\u9001\u51fa\uff01<br>1)\u73a9\u6e38\u620f\u80fd\u8d5a\u94b1\uff1a\u514d\u8d39\u5927\u5956\u8d5b\u5f3a\u52bf\u4e0a\u7ebf\uff01\u724c\u6280\u9ad8\u7684\uff0c\u8fd0\u6c14\u597d\u7684\u8bf7\u770b\u8fc7\u6765~\u540c\u5b66\u4f60\u7684\u5145\u503c\u5361\u6389\u4e86~<br>2)\u9752\u6625\u9753\u4e3d\u7684\u65b0\u7248UI\uff0c\u9177\u70ab\u4f60\u7684\u5ba1\u7f8e\u89c2\u3002\u64cd\u4f5c\u7b80\u5355\u6613\u4e0a\u624b\uff0c\u6700\u5927\u7a0b\u5ea6\u89e3\u653e\u60a8\u7684\u53cc\u624b\u3002<br>3)\u6e38\u620f\u8d85\u5c0f\uff0c\u8d85\u7701\u6d41\u91cf\uff1a\u5988\u5988\u518d\u4e5f\u4e0d\u7528\u62c5\u5fc3\u6211\u73a9\u6e38\u620f\u7528\u5149\u6d41\u91cf\u5566\uff01<br>\u6e38\u620f\u5c0f\u8d34\u58eb\uff1a<br>1.\u793c\u5238\u8d85\u503c\u5151\u6362\uff0c\u53ea\u8981\u6bcf\u5929\u51e0\u5c40\u6597\u5730\u4e3b\uff0c\u6708\u6708\u8d5a\u591f\u4f60\u7684\u7535\u8bdd\u8d39\u3002<br>2.\u73a9\u8d8a\u9ad8\u7b49\u7ea7\u7684\u573a\u6b21\uff0c\u5c31\u80fd\u5f97\u5230\u66f4\u591a\u7684\u5956\u5238\u6765\u5151\u6362\u5b9e\u7269\u5956\u54c1\u54e6\u3002<br>3.\u5fb7\u5dde\u3001\u6355\u9c7c\u3001\u4e09\u5f20\u724c\u7b49\u591a\u6b3e\u5c0f\u6e38\u620f\u81ea\u52a9\u4e0b\u8f7d\u4efb\u4f60\u9009\u62e9\u3002<br>4.\u6ca1\u8c46\u4e0d\u8981\u7d27\uff0c\u6bcf\u65e5\u514d\u8d39\u53d1\u653e\u8db3\u591f\u8ba9\u4f60\u4efb\u6027\u73a9\u3002","size":"19.8M","today_strDownload":"6\u4e07","groupid":"3944371","platform_version":"2.0","sourcename":"\u5f00\u653e\u5e73\u53f0","fee_display":"","aladdin_flag":"1","package":"com.mas.wawagame.BDDKlord","docid":"9841968","versionname":"3.7.8.0","manual_brief":"3\u4ebf\u4eba\u90fd\u5728\u73a9\u7684\u6597\u5730\u4e3b\uff01\u7b7e\u5230\u76f4\u63a5\u9001\u8bdd\u8d39\uff0c\u6e38\u620f\u79d2\u5f00\u65e0\u7b49\u5f85\uff0c\u6b22\u6597\u765e\u6597\u5565\u90fd\u6709\uff0c\u5355\u673a\u6ca1\u7f51\u4e5f\u80fd\u73a9\uff01","platform_version_id":"5","changelog":"","catename":"\u68cb\u724c\u684c\u6e38","strDownload":"4678\u4e07","all_download_pid":"4678\u4e07\u4e0b\u8f7d","iconhdpi":"http:\/\/c.hiphotos.bdimg.com\/wisegame\/pic\/item\/b4ca7bcb0a46f21f14055beffe246b600c33ae5d.jpg","type":"game","md5":"4abd2d083305c88288d6b02144d5cf81","icon":"http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b150_150&imgtype=3&quality=100&er&sec=0&di=7b314702d7da1798389e9a8584915c8e&ref=http%3A%2F%2Fd.hiphotos.bdimg.com&src=http%3A%2F%2Fd.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2Ff42bd40735fae6cdc8a6587607b30f2442a70f93.jpg","sname":"\u6b22\u4e50\u6597\u5730\u4e3b","manual_short_brief":"","updatetime":"2016-08-26","download_url":"http:\/\/gdown.baidu.com\/data\/wisegame\/3305c88288d6b021\/huanledoudizhuchaoqiangban_3780.apk","ad_display":"[none]","support_chip":"0","rotate":"1","gov_whitelist":"0","comment_tag_display":"[{\"numvalue\":\"2\",\"click\":\"8\",\"value\":\"\u8fd8\u53ef\u4ee5\",\"name\":\"\u753b\u9762\",\"tagid\":377}]","templet":"1","online_flag":"2","display_download":"46781920","popu_index":"93","yesterday_download_pid":"52926","tag_concept_rp":"{\"\u4f11\u95f2\":
        100, \"\u6597\u5730\u4e3b\": 100, \"\u684c\u6e38\": 100, \"\u68cb\u724c\":
        52}","mtc_status":"1","lifeservice":"","video_videourl":"","video_playcount":"","video_image":"","inner_info":"","video_orientation":"","video_duration":"","video_source":"","video_id":"","video_title":"","coupon":"","video_packageid":"","screenshots":["http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b240_360&imgtype=0&quality=100&er&sec=0&di=e48cb5f623e0a7cd1e966e667479ed66&ref=http%3A%2F%2Fd.hiphotos.bdimg.com&src=http%3A%2F%2Fd.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2Ff22397dda144ad348a8e823bd8a20cf431ad855d.jpg","http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b240_360&imgtype=0&quality=100&er&sec=0&di=54347b2a5d90feb6bbf333a931870d3e&ref=http%3A%2F%2Fb.hiphotos.bdimg.com&src=http%3A%2F%2Fb.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2Fa98065380cd79123467f8ec8a5345982b3b780eb.jpg","http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b240_360&imgtype=0&quality=100&er&sec=0&di=0eee25044ff68a1a91cd38f9ac6c1beb&ref=http%3A%2F%2Ff.hiphotos.bdimg.com&src=http%3A%2F%2Ff.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2Fb243ad4bd11373f0d7cd7523ac0f4bfbfaed049f.jpg","http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b240_360&imgtype=0&quality=100&er&sec=0&di=d6d014d4d5973ae0756d0a8bd8a17d4c&ref=http%3A%2F%2Ff.hiphotos.bdimg.com&src=http%3A%2F%2Ff.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2Fef5494eef01f3a29d057cf729125bc315d607ceb.jpg"],"overtime":"180","topic":[{"tid":"1239","title":"\u4e00\u65e6\u5f00\u6218\u5c31\u4e0d\u60f3\u8d70\u7684\u68cb\u724c\u6e38\u620f","description":"\u73a9\u68cb\u724c\u6e38\u620f\uff0c\u6839\u672c\u505c\u4e0d\u4e0b\u6765\uff0c\u8f93\u4e86\u8fd8\u60f3\u8d62\uff0c\u8d62\u4e86\u4e0d\u60f3\u8d70\u3002","img":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/3bf33a87e950352aa3c0e3de5443fbf2b3118b47.jpg","imglow":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/f603918fa0ec08fa67a7d5715eee3d6d54fbda45.jpg","imgbig":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/023b5bb5c9ea15ce68a226dfb1003af33b87b29c.jpg"},{"tid":"1207","title":"\u4e94\u4e00\u5c0f\u957f\u5047\u51c6\u5907\u597d\u75af\u73a9\u4e86\u5417\uff01","description":"\u4e94\u4e00\u5c0f\u957f\u5047\u6765\u4e86\uff0c\u6536\u62fe\u597d\u4e1c\u4e1c\u51c6\u5907\u51fa\u53d1\u4e86\u5417\uff1f\u6709\u4e86\u8fd9\u7bc7\u6700\u8be6\u5b9e\u7684\u51fa\u884capp\u653b\u7565\uff0c\u661f\u7a7a\u52b2\u98ce\u90fd\u80fd\u7a7f\u8d8a\u3002","img":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/7c1ed21b0ef41bd5ae87167556da81cb38db3d5e.jpg","imglow":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/728da9773912b31b87df33a88118367adbb4e184.jpg","imgbig":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/9e3df8dcd100baa13f80b93a4010b912c9fc2e87.jpg"},{"tid":"1065","title":"\u73b0\u5728\u8bb8\u4e2a\u613f\uff0c\u6765\u5e74\u6536\u83b7\u4e00\u5806\u60ca\u559c","description":"\u5723\u8bde\u8001\u4eba\u7ed9\u6bcf\u4e2a\u4eba\u90fd\u51c6\u5907\u4e86\u72ec\u4e00\u65e0\u4e8c\u7684\u793c\u7269\uff0c\u73b0\u5728\u8bb8\u4e0b\u4e2a\u613f\u671b\uff0c\u6765\u5e74\u6ca1\u51c6\u513f\u5c31\u80fd\u5b9e\u73b0\u3002","img":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/30adcbef76094b3655565bcda4cc7cd98c109dce.jpg","imglow":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/7e3e6709c93d70cf782dea2dffdcd100baa12b3e.jpg","imgbig":"http:\/\/imgsrc.baidu.com\/anxun\/pic\/item\/0b55b319ebc4b745c254f736c8fc1e178b8215c9.jpg"}],"app_moreversion":[{"version":"3.7.7.0","content":[{"packageid":"445800","groupid":"3920607","docid":"9794980","sname":"\u6b22\u4e50\u6597\u5730\u4e3b","size":"21346226","updatetime":"2016-08-12","versioncode":"3770","sourcename":"\u5f00\u653e\u5e73\u53f0","type":"game","all_download_pid":"43008738","strDownload":"4678\u4e07","display_score":"76","all_download":"1000\u4e07+\u4e0b\u8f7d","f":"c3"}],"versioncode":"3770"},{"version":"3.7.6.0","content":[{"packageid":"445800","groupid":"3885522","docid":"9732101","sname":"\u6b22\u4e50\u6597\u5730\u4e3b","size":"21762108","updatetime":"2016-07-29","versioncode":"3760","sourcename":"\u5f00\u653e\u5e73\u53f0","type":"game","all_download_pid":"43008738","strDownload":"4678\u4e07","display_score":"76","all_download":"1000\u4e07+\u4e0b\u8f7d","f":"c3"}],"versioncode":"3760"},{"version":"3.7.5.0","content":[{"pac[...]
