---
http_interactions:
- request:
    method: get
    uri: http://m.baidu.com/appsrv?abi=armeabi-v7a&action=detail&apn=&cct=qivtkjuhVfjgRS8I68v3kYuteug_MHaGq8BgklutVujTM-8OA&cen=cuid_cut_cua_uid&cll=_a2BNgaOv8_VOei00u28NguGviLVSS3RB&country=US&crid=1473676762976&docid=9921562&f=onlinegame@1@2@source%2BEDITOR@boardid%2B20113@pos%2B2@flow%2BBOARD@trans%2BNULL@mode%2BNULL@bid%2B1@oriboardid%2B20113@oripos%2B2@exp%2Bfull_flow@sample%2Badv@package%2Bcom.sy37.yhjyj.baidu@searchid%2B3761264578996139958@terminal_type%2Bclient&from=1000561u&gms=true&is_support_webp=true&language=en&location=qivtkjuhVfjgRS8I68v3kYuteug_MHaGq8BgklutVujTM-8OA&native_api=1&network=WF&operator=460021&pkname=com.baidu.appsearch&platform_version_id=15&province=qiB_k0ihetgCRSf66iSTkjO_eug_MS8LqPSpkluJeflfMBioA&psize=2&ptl=hp&pu=cua@_PvjhYa6vhIDJEjPkJAiC_hX2Ng-I28KAr8RB,osname@baiduappsearch,ctv@1,cfrom@100027l,cuid@guvC80PH280kiSuujivpi_afHu_-aSf608SPugaYHi6suviJla-Di_ueBi_Ku2iJguv98vBGB,cut@0ks9RgaU2iyvaXiDzuL08gNXxokk5FqJjU6dB&rqt=rty&uid=guvC80PH280kiSuujivpi_afHu_-aSf608SPugaYHiqBuSivYu2U8juC2i_javiTQS2jC&usertype=0&ver=16790412
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Traceid:
      - '1474303315023915111406772071852293212518'
    body:
      encoding: ASCII-8BIT
      string: '{"error_no":0,"message":"","result":{"data":{"base_info":{"download_inner":"http:\/\/gdown.baidu.com\/data\/wisegame\/4fe8118400f2bcdd\/yinyangshi_5.apk","versioncode":"5","lang":"\u4e2d\u6587","packageid":"1778347","signmd5":"4048692928","today_download_pid":28342.5795408,"dev_display":{"dev_id":"1218050740","dev_name":"\u7f51\u6613\u6e38\u620f","dev_score":"0","dev_level":"0","f":"develop_1778347_9921562"},"security_display":"[{\"engine\":\"\u767e\u5ea6\u624b\u673a\u536b\u58eb\",
        \"security_level\":\"\u5b89\u5168\", \"packageid\":\"347030028\", \"smallicon\":\"http:\\\/\\\/wap.baidu.com\\\/static\\\/as\\\/images\\\/jpg\\\/icon-safe-baidu.jpg\"}]","security":"0","cateid":"402","brief":"\u300a\u9634\u9633\u5e08\u300b\u624b\u6e38\u662f\u7f51\u6613\u6e38\u620f\u57282016\u5e74\u81ea\u4e3b\u7814\u53d1\u7684\u4e00\u6b3e3D\u552f\u7f8e\u548c\u98ce\u624b\u6e38\uff0c\u4ee5\u65e5\u672c\u5bb6\u55bb\u6237\u6653\u7684\u9634\u9633\u5e08IP\u4e3a\u80cc\u666f\uff0c\u6cbf\u7528\u7ecf\u5178\u4eba\u8bbe\uff0c\u8bb2\u8ff0\u4e86\u4eba\u9b3c\u5171\u751f\u7684\u5e73\u5b89\u65f6\u4ee3\uff0c\u9634\u9633\u5e08\u5b89\u500d\u6674\u660e\u63a2\u5bfb\u81ea\u8eab\u8bb0\u5fc6\u7684\u6545\u4e8b\u3002\u5267\u60c5\u5145\u5b9e\u7ec6\u817b\u800c\u4e0d\u4e4f\u521b\u65b0\u70b9\uff0c\u753b\u98ce\u552f\u7f8e\u7a7a\u7075\u6781\u5177\u548c\u98ce\u610f\u5883\uff0c\u662f\u7f51\u66132016\u5e74\u7684\u6218\u7565\u4ea7\u54c1\u3002\u300a\u9634\u9633\u5e08\u300b\u5728\u7ecf\u5178\u7684\u534a\u5373\u65f6\u56de\u5408\u5236RPG\u57fa\u7840\u4e0a\uff0c\u8fd8\u5305\u542b\u4e86\u5361\u724c\u6536\u96c6\u3001\u517b\u6210\u548c\u57fa\u4e8eLBS(\u57fa\u4e8e\u5730\u7406\u4f4d\u7f6e)\u7684\u793e\u4ea4PK\u6a21\u5f0f\u7b49\u73a9\u6cd5\u3002\u4e0a\u767e\u79cd\u5f0f\u795e\u4e9f\u5f85\u89c9\u9192\uff0c\u5e26\u4f60\u4f53\u9a8c\u53e4\u6734\u795e\u79d8\u7684\u9b45\u529b\u4eac\u90fd\u3002<br>\u6e38\u620f\u7279\u8272<br>\u2605
        3D\u548c\u98ce\u7cbe\u7f8e\u753b\u9762\uff0c\u8fd8\u539f\u53e4\u610f\u98ce\u60c5\u4eac\u90fd<br>\u2605
        \u65e5\u672c\u9876\u7ea7\u58f0\u4f18\u914d\u97f3\uff0c\u6885\u6797\u8302\u4eb2\u521b\u7535\u5f71\u7ea7\u539f\u58f0<br>\u2605
        \u9634\u9633\u4e8c\u5143\u6349\u5996\u89e3\u8c1c\uff0c\u821e\u53f0\u65b0\u756a\u8ffd\u4e0d\u505c<br>\u2605
        \u7ecf\u5178\u534a\u5373\u65f6\u56de\u5408\u5236RPG\uff0c\u767e\u79cd\u5f0f\u795e\u8c6a\u534e\u89c9\u9192","size":"515.8M","today_strDownload":"2\u4e07","groupid":"3986525","platform_version":"2.3","sourcename":"\u5f00\u653e\u5e73\u53f0","fee_display":"","aladdin_flag":"1","package":"com.netease.onmyoji.baidu","docid":"9921562","versionname":"1.0.6","manual_brief":"","platform_version_id":"9","changelog":"\u6e38\u620f\u7279\u8272\u2605
        3D\u548c\u98ce\u7cbe\u7f8e\u753b\u9762\uff0c\u8fd8\u539f\u53e4\u610f\u98ce\u60c5\u4eac\u90fd1\u3001\u65b0\u589e\u4ed8\u8d39\u7cfb\u7edf2\u3001\u65b0\u589e\u73a9\u6cd5\uff1a\u5bb6\u65cfGVE\u3001\u5bb6\u65cfGVG3\u3001\u65b0\u589e6\u7ae0\u5267\u60c54\u3001\u65b0\u589e\u4e00\u6279\u5f0f\u795e\u548cCV5\u3001\u65b0\u624b\u5185\u5bb9\u4f18\u53166\u3001\u6e38\u620f\u754c\u9762\u4f18\u5316","catename":"\u89d2\u8272\u626e\u6f14","strDownload":"66\u4e07","all_download_pid":"66\u4e07\u4e0b\u8f7d","iconhdpi":"http:\/\/e.hiphotos.bdimg.com\/wisegame\/pic\/item\/d9a1cd11728b47102d7b0161cbcec3fdfd0323c3.jpg","type":"game","md5":"3e10f63b4fe8118400f2bcddcc24fd6f","icon":"http:\/\/cdn00.baidu-img.cn\/timg?vsapp&size=b150_150&imgtype=3&quality=100&er&sec=0&di=6cb174e68d65770a2dd5031b76717585&ref=http%3A%2F%2Fe.hiphotos.bdimg.com&src=http%3A%2F%2Fe.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2Fe444ebf81a4c510fcd4918b76859252dd52aa58a.jpg","sname":"\u9634\u9633\u5e08","manual_short_brief":"","updatetime":"2016-09-08","download_url":"http:\/\/gdown.baidu.com\/data\/wisegame\/4fe8118400f2bcdd\/yinyangshi_5.apk","ad_display":"[]","support_chip":"0","rotate":"1","gov_whitelist":"0","comment_tag_display":"[]","templet":"1","online_flag":"0","display_download":"662394","popu_index":"65","yesterday_download_pid":157593.2301096,"tag_concept_rp":"{\"\u89d2\u8272\u626e\u6f14\":
        80}","detail_background":"http:\/\/d.hiphotos.bdimg.com\/wisegame\/pic\/item\/2a540923dd54564e81b1f7a7bbde9c82d0584f53.jpg","mtc_status":"1","common_card":"","lifeservice":"[{\"lifeservice_region\":\"\",\"lifeservice_addtime\":\"1474267394\",\"lifeservice_info\":{\"server_info\":\"\",\"server_time\":\"\",\"video_url\":\"\",\"server_num\":0,\"detail_background\":\"http:\/\/gdown.baidu.com\/img\/1\/720_360\/f3351de074dfac486ab79ce21df12ad9.png\"}}]","activity":"[{\"activity_region\":\"\",\"activity_addtime\":\"1474265351\",\"activity_info\":{\"url\":\"http:\/\/yys.163.com\/pcbaidu\/\",\"pic\":\"http:\/\/gdown.baidu.com\/img\/1\/693_191\/15bd09c036c3144e32d82ccc5ec9dd23.png\",\"pos\":\"1\",\"id\":\"368\",\"title\":\"\u89c9\u9192\u4ee5\u9634\u9633\u5e08\u4e4b\u540d\"}}]","skin":"[{\"skin_region\":\"\u5317\u4eac\u5e02,\u676d\u5dde\u5e02,\u6b66\u6c49\u5e02,\u5e7f\u5dde\u5e02,\u4e0a\u6d77\u5e02,\u6df1\u5733\u5e02,\u6210\u90fd\u5e02,\u5929\u6d25\u5e02,\u6fb3\u95e8\u7279\u522b\u884c\u653f\u533a,\u5305\u5934\u5e02,\u5317\u6d77\u5e02,\u5e38\u5fb7\u5e02,\u5e38\u5dde\u5e02,\u90f4\u5dde\u5e02,\u627f\u5fb7\u5e02,\u957f\u6625\u5e02,\u957f\u6c99\u5e02,\u91cd\u5e86\u5e02,\u5927\u8fde\u5e02,\u5927\u5e86\u5e02,\u5927\u540c\u5e02,\u798f\u5dde\u5e02,\u629a\u5dde\u5e02,\u8d35\u9633\u5e02,\u6842\u6797\u5e02[...]
